div{
    background-image:url(../thumb-1920-1169607.jpg);
    background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
pre{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
video{
    margin-left: 20%;
    
}