pre{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
b{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
div {
    background-color: aquamarine;
}